.list-user-list-container {
  display: grid;
  grid-template-columns: 80px 1fr 3fr;
  grid-template-rows: 20px;
  grid-auto-rows: 80px;
  grid-gap: 10px 5px;
}

.list-header {
  background-color: #2f4858;
  color: white;
  font-weight: bold;
}

.list-user-list-container > img {
  width: 80px;
}

.list-user-input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.input-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
