@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

$background: #141414;
$color-text: white;
$min-width-img-top: 225px;
$popular-item: "5";
$tablet-dimension: 1280px;
$mobile-dimension: 390px;
